<!DOCTYPE html>

<html>
  <head>
    <title>URL Masker Microservice</title>
    <link
      rel="icon"
      type="image/png"
      href="https://img.freepik.com/free-icon/browser_318-333416.jpg?t=st=1682098860~exp=1682099460~hmac=8b44d43facbbe566c3eb361ea0c33cdf1e67a87ac2292a1f0a397944610e9e5e"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Masker Microservice</h1>
    <main>
      <section>
        <form action="api/StealthURL" method="POST">
          <fieldset>
            <legend>URL Masker</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://google.com" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>By <a href="https://www.linkedin.com/in/abdelrahman-anwar/">Abdelrahman Anwar</a></p>
    </footer>
  </body>
</html>
